# ── Kafka ──────────────────────────────────────────────────────
KAFKA_BROKER_URL=kafka:29092
KAFKA_TOPICS_RAW=transactions.raw
KAFKA_TOPICS_FEATURES=transactions.features
KAFKA_TOPICS_PREDICTIONS=transactions.predictions
KAFKA_TOPICS_ALERTS=transactions.fraud.alerts

# ── PostgreSQL ─────────────────────────────────────────────────
POSTGRES_HOST=postgresql
POSTGRES_PORT=5432
POSTGRES_USER=fraud_metadata_user
POSTGRES_PASSWORD=fraud_dev_password
POSTGRES_DB=fraud_metadata

# ── TimescaleDB ────────────────────────────────────────────────
TIMESCALE_HOST=timescaledb
TIMESCALE_PORT=5432
TIMESCALE_USER=fraud_timeseries_user
TIMESCALE_PASSWORD=fraud_dev_password
TIMESCALE_DB=fraud_transactions_timeseries

# ── Redis ──────────────────────────────────────────────────────
REDIS_HOST=redis
REDIS_PORT=6379

# ── MLflow ─────────────────────────────────────────────────────
MLFLOW_TRACKING_URI=http://mlflow:5000
MLFLOW_BACKEND_STORE_URI=postgresql+psycopg2://fraud_metadata_user:fraud_dev_password@postgresql:5432/fraud_metadata
MLFLOW_EXPERIMENT_NAME=fraud-detection-v1

# ── FastAPI / Model serving ────────────────────────────────────
MODEL_NAME=FraudDetectionModel
MODEL_STAGE=Production
FRAUD_SCORE_THRESHOLD=0.5

# ── Airflow ────────────────────────────────────────────────────
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://fraud_metadata_user:fraud_dev_password@postgresql:5432/airflow_metadata
AIRFLOW__CORE__FERNET_KEY=ISrxKFcWmCJk5YB3Jrr09O4ztubqKLiBKYF9qOf6W9k=
AIRFLOW__WEBSERVER__SECRET_KEY=fraud_dev_webserver_secret
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin

# ── Grafana ────────────────────────────────────────────────────
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
